.login-class{
  display: grid;
  justify-items: center;
  margin: 2rem;
}
.login-class  {
  gap: 8px;
}

.login-class h1 {
  color: white;
  
}
.login-class p {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px; 
  line-height: 1.5; 
  text-align: justify; 
  text-indent: 20px; 
}

.backimg {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}
.animate {
  padding: 2rem;
  position: relative;
  z-index: 1;
  background-color: blue;
}

