.login-class {
  min-width: 250px;
  padding: 50px;
}
.login-class h1 {
  color: white;
  text-align: center;
}
.login-class p {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px; 
  line-height: 1.5; 
  text-align: center; 
}

.option-login {
  display: flex;
  justify-content: space-between;
}