.login-info h1 {
  font-size:40px;
  font-weight:700;
  line-height:52px;
  color: var(--color-text-login);
  margin: 24px;
}

.login-info h3 {
  max-width: 430px;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1.5px;
  color: var(--color-text-login);
  margin: 24px;
}

.login-info h3 span{
  background: linear-gradient(
    90deg,
    #4DA3FF 0%,
    #4F7BFF 25%,
    #6E63FF 60%,
    #A855F7 85%,
    #D8B4FE 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-info > p {
  font-family: var(--font-sans);
  max-width: 470px;
  font-size: var(--font-size-paragraph);
  line-height: 1.2;
  color: #94A3B8;
  margin: 24px;
}

.login-class {
  display: grid;
  width: 100%;
  max-width: 520px;
  justify-self: center;
  padding: 50px;
  height: 80%;
  background: var(--bg-aplication); 
  box-shadow: var(--box-shadows); 
  border-radius: 5%;
  border: 1px solid rgba(231, 233, 236, 0.72);

}

.login-class h2 {
  color: var(--color-text-login);
  font-size: 1.8em;
  text-align: center;
}

.login-class > p {
  font-size: var(--font-size-paragraph);
  line-height:1.2;
  color: #94A3B8;
  font-family: var(--font-sans);
  text-align: center;
}
.input-login {
  background: none;
}

.option-login {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.button-login {
  width: 100%;
  max-width: 100%;
  background: var(--gradient-primary-button);
  box-shadow: var(--box-shadows);
}

.register-button {
  width: 100%;
  max-width: 100%;
}

.register-button:hover {
  transition: 1s ease-in;
  color: lightblue;
}

@media (max-width: 768px) {
  .login-info {
    display: none;
  }
}

