.login-class {
  display: grid;
  grid-template-columns: minmax(300px, 600px);
  padding: 50px;
  height: 80%;
  max-width: 100%;
  margin: 0 auto;
}
.login-class h1 {
  color: white;
  text-align: center;
}
.login-class > p {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px; 
  line-height: 1.5; 
  text-align: center; 
}

.option-login {
  display: flex;
  justify-content: space-between;
}

.register-button {
  background: none;
}

.register-button:hover {
  transition: 1s ease-in;
  background: lightblue;
}


@media (max-width: 768px) {
  .login-class {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}