.register-class{
  display: grid;
  grid-template-columns: minmax(300px, 500px);
  padding: 20px;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

.register-class h1 {
  color: white;
  text-align: center;
}
.register-class > p {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px; 
  line-height: 1.5; 
  text-align: center; 
}

.option-register{
  display: flex;
  justify-content: space-between;
}


@media (max-width: 480px) {
  .register-class {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  
  .option-register {
    flex-direction: column;
  }
}
