.register-class{
  padding: 50px;
  min-width: 250px;
  width: 70%;
}

.register-class h1 {
  color: white;
  text-align: center;
}
.register-class p {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px; 
  line-height: 1.5; 
  text-align: center; 
}

.option-register{
  display: flex;
  justify-content: space-between;
}
