.register-class{
  justify-items: center;
  position: relative;
  border: 2px solid black;
  padding: 10px;
  height: 100vh;
  background-color: blue;
}

.register-class h1 {
  color: white;
  
}
.register-class p {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px; 
  line-height: 1; 
  text-align: justify; 
  text-indent: 20px; 
  margin-bottom: 1em; 
}

.navigation-class {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
