# Logs
logs

# Dependency directories
node_modules
dist
dist-ssr
*.local

# variable environments
.env
.env.development.local

# Security
auth
db.json

#config
.vscode
settings.json
jsconfig.json

# Build directories
vite.config.js
package-lock.json

# lint configuraçoes 
eslint.config.js

# prettier configuraçoes
.prettierrc