# Logs
logs

# Dependency directories
node_modules
dist
dist-ssr
*.local
# Security
auth
.env
api/
ApiConnection.jsx

# Build directories
db.json
vite.config.js
package-lock.json
# lint configuraçoes 
eslint_config.js
