# Logs
logs

# Dependency directories
node_modules
dist
dist-ssr
*.local

# Security
auth
.env.development.local
db.json

#config
jsconfig.json

# Build directories
vite.config.js
package-lock.json

# lint configuraçoes 
eslint.config.js
