.step-class {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.step-class h2 {
  grid-column: span 2;
  text-align: center;
}

.span-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: 1;
}

.col-2 {
  grid-column: 2;
}
