.input-class {
  display:flex; 
  flex-direction:column; 
  margin-bottom: 16px;
}
.input-class label {
  padding: 2px 16px;
  font-size:14px; 
  color:var(--identification);
}

.input-class input,
.input-wrapper select, 
.input-wrapper textarea{
  padding: 8px 16px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size:14px;
  box-shadow: 0px 2px black;
  background: var(--cards-box);
}
.input-class input:focus{
  background-color: aliceblue;
  outline-style: inset;
  border: var(--focus);
  box-shadow: var(--light-shadows);
}
.error-message{ 
  color:var(--error);
  font-size:12px;
  padding: 2px 16px;
}

