.input-class {
  display:flex; 
  flex-direction:column; 
  gap:6px;
}
.input-class label {
  font-size:14px; 
  color:var(--identification);
}

.input-class input,
.input-wrapper select, 
.input-wrapper textarea{
  padding:8px 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size:14px;
  box-shadow: 0px 2px black;
  background:white;
}
.input-class input:focus{
  background-color: aliceblue;
  outline: none;
  border-color: var(--focus);
  box-shadow: 0 0 0 3px rgba(37,99,235,0.08);
}
.error-message{ 
  color:var(--danger);
  font-size:12px;
  margin-top:4px; 
}

