.header-class {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 32px;
  border-bottom: 1px solid rgba(255,255,255,.06);
  background: rgba(4, 8, 20, .72);
  backdrop-filter: blur(20px)
}

.logo-perfil {
  background-color: bisque;
  border-radius: 50%;
  width: 50px;
}

.option-header {
  display: flex;
  justify-content: space-between;
}

.option-header li:hover {
  cursor: pointer;
  color: red; 
}