.section-content {
  display: grid;
  width: 100%;
  background: var(--surface);
  border-radius: var(--radius);
}

.list-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}
