.home-style {
  background: var(--bg-aplication);
}

.section-content {
  display: grid;
  width: 100%;
  background: var(--section-home-color);
  border-radius: var(--radius);
}

.list-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.register-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}