.pageHomeClass {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
}
.pageHomeClass header {
 grid-column: 2 span;
}

.formularioProduto {
  width: 40px;
  height: 40px;
  background: black;
}