.header-class {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  top: 0; 
  justify-content: space-between;
  background: var(--cards-box);
  box-shadow: var(--light-shadows);
  text-align: center;
  padding: 5px;
}

.logo-perfil {
  background-color: bisque;
  border-radius: 50%;
  width: 50px;
}

.option-header {
  display: flex;
  justify-content: space-between;
}