.header-class {
  display: flex;
  position: sticky;
  top: 0; 
  justify-content: space-between;
  background: #ccc;
  text-align: center;
}

.header-class div {
  background-color: bisque;
  width: 100px;
  height: 100px;
}