.home-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  width: 100%;
  min-height: 100vh;
}

.home-content {
  display: grid;
  grid-template-rows:
    70px
    minmax(0, 1fr)
    auto;
  min-width: 0;
  min-height: 100vh;
  padding: 10px;
}

.main-content{
  grid-row: 2;
  min-width: 0;
  min-height: 0;
  padding: 10px;
  overflow-y: auto;
}
.footer-layout {
  margin-bottom: 0;
}

