.home-layout{
  display: grid;
  grid-template-rows: auto 1fr auto; /* header | main | footer */
  gap: 10px;
  width: 100%;
  min-height: 100vh;
}
.dashboard-layout {
  height: 400px;
}

.footer-layout {
  margin-bottom: 0;
}

