.home-layout{
  display: grid;
  grid-template-rows: auto 1fr auto; /* header | main | footer */
  padding: 10px;
  width: 100%;
  min-height: 100vh;
}

.home-main{
  display: grid;
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
}

/* breakpoint: mobile -> collapse sidebar */
@media (max-width: 480px){
  .home-main{
    grid-template-columns: 1fr;
    padding: var(--gap);
  }
}