.input {
  display:flex; 
  flex-direction:column; 
  margin-bottom: 8px;
}

.input label {
  font-size:14px;
  font-weight:500;
  padding: 2px 16px;
  color:var(--identification);
}

.input::placeholder{
    color:#94A3B8;
}

.input input,
.input-wrapper select, 
.input-wrapper textarea{
  padding: 8px 18px;
  border: var(--focus);
  border-radius: 12px;
  font-size: var(--font-size-input);
  box-shadow: var(--light-shadows);
  outline: none;
  transition: .2s;
}

.input input:focus{
  outline-style: inset;
  border: var(--focus);
  box-shadow: var(--light-shadows);
}
.error{ 
  color:var(--error);
  font-size:12px;
  padding: 2px 16px;
}

