.button{
  cursor: pointer;
  appearance:none;
  padding: 8px 12px;
  border-radius: 10px;
  border:1px solid rgba(0,0,0,0.08);
  font-weight: 600;
  font-size: var(--font-size-button);
}

.button:hover{
  transition: 0.2s;
  transform: scale(1.05) translateX(4px);
}
