.card{
  background: var(--cards-box);
  border-radius:8px;
  padding:12px;
  box-shadow:var(--light-shadows);
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:12px;
  margin-bottom:12px;
  width: 200px;
  height: 200px;
}
.card .title{ font-weight:600; }