.container { 
  display: grid;
  grid-template-columns: 30% 70%;
}
/* breakpoint: mobile -> collapse sidebar */
@media (max-width: 480px){
  .container{
    grid-template-columns: auto;
    padding: var(--gap);
  }
}