.sidebar{
  background: #cccc;
  border-radius: var(--radius);
  width: 30%;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06);
}

.nav-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  gap: 8px;
}


.nav-button h3 {
  padding: 2px;
  margin: 0;
}

@media (max-width:480px){
  .nav-button h3{
    font-size: 0.5em;
  }
}