.sidebar{
  background: var(--surface);
  width: 100%;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.581);
}

.nav-button {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 8px;
}

.nav-button h4 {
  padding: 2px;
  margin: 0;
}

@media (max-width:480px){
  .sidebar {
    display: flex;
  }
  .nav-button h4{
    font-size: 0.5em;
  }
}