.sidebar{
  background: var(--sidebar-color);
  width: 100%;
  padding: 10px;
  box-shadow: var(--light-shadows);
}

.nav-button {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 2px solid var(--first-color);
  gap: 8px;
  transition: all 0.3s ease;
}

.nav-button h4 {
  padding: 2px;
  margin: 0;
}

.ativado {
  transform: scale(1.05) translateX(2px);
}

@media (max-width:480px){
  .sidebar {
    display: flex;
  }
  .nav-button h4{
    font-size: 0.5em;
  }
}