.sidebar{
  background: var(--sidebar-color);
  width: 100%;
  padding: 10px;
  border-right: 2px solid lightblue;
}

.nav-button {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 2px solid var(--first-color);
  gap: 8px;
}

.nav-button h4 {
  padding: 2px;
  margin: 0;
}

.ativado {
  transition: 0.2s;
  transform: scale(1.05) translateX(2px);
}

@media (max-width:480px){
  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: var(--sidebar-width);
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .nav-button {
    
  }
  .nav-button h4{
    font-size: 0.5em;
  }
}