:root{
  --bg: #F7F9FC;
  --first-color:  lightblue;
  --second-color: #00c853;
  
  --cards-box: #FFFFFF;
  --list-color: #EEEEEE;
  --box-shadows: 0 0 60px rgba(59, 130, 246, .18), 0 0 120px rgba(139, 92, 246, .12);
  --identification: #E5E7EB;
  --focus: 1px solid #4F7BFF;
  --error: #D50000;
  --sidebar-width: 300px;
  --gap: 16px;
  --radius: 6px;
  --max-width: 1200px;
  /* font */
  --font-sans: "Inter", "Roboto", sans-serif;
  --font-size-input: 16px; 
  --font-size-button: 16px;
  --font-size-paragraph: 20px;
  /* color*/
  --siderbar-bg-color: 
      linear-gradient(
        180deg,
        #080d1d 0%,
        #0b1024 55%,
        #101735 100%
      );
  --content-bg-color: 
      linear-gradient(
        135deg,
        #070b18 0%,
        #0b1024 45%,
        #111936 100%
      );
  --color-text-login: #F8FAFC; 
  --color-primary-500: #328cf3;
  --color-primary-400: #4080f8;
  --color-accent-500: #3971e9;
  --color-secondary-500: #9B5CF7;
  
  --gradient-primary-button: linear-gradient(
      90deg,
      var(--color-primary-500) 0%,
      var(--color-primary-400) 30%,
      var(--color-accent-500) 70%,
      var(--color-secondary-500) 100%
  );
}

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  list-style: none;
}

html,body,#root { 
  height:100%; 
}

body{
  margin:0;
  font-family: var(--font-sans);
  background: var(--bg);
}
a { 
  color:inherit; 
  text-decoration:none;
}

button{ 
  font-family:inherit;
}