:root {
  display: block;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0%;
  padding: 0%;
  font-size: 16px;
  height: 100vh;
  max-height: 100%;
  background-color: khaki;
}
