.home-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  width: 100%;
  min-height: 100vh;
  color: #ffffff;
}
.home-content {
  display: grid;
  grid-template-rows:
    88px
    minmax(0, 1fr)
    auto;
  min-width: 0;
  min-height: 100vh;
  padding: 20px;
}

.footer-layout {
  margin-bottom: 0;
}

